<!DOCTYPE html>
<html >
<head>
	<title>Message App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/css/site.css">
</head>
<body>

	<ui-view></ui-view>
		<script src="/angular/angular.min.js"></script>
		<script src="/angular-ui-router/release/angular-ui-router.min.js"></script>
		<script src="/angular-material/angular-material.min.js"></script>
		<script src="/angular-aria/angular-aria.min.js"></script>
		<script src="/angular-animate/angular-animate.min.js"></script>
		<script src="/javascript/app.js"></script>
		<script src="/javascript/services/MessageFactory.js"></script>
		<script src="/javascript/controllers/AddMessageController.js"></script>
		<script src="/javascript/controllers/ReadMessageController.js"></script>
</body>
</html>
