.hidden {
   opacity:0;
}

.bottom{
   height: 15px;
}

#avatar{
  height:50px;
  width:50px;
  border-radius: 4px;
}

/*#newMsg{
  background-color: blue;
  border-bottom: white 1px solid;
}*/
html {
     background-image: url("https://c2.staticflickr.com/6/5100/5593071771_c8af990f83_b.jpg");
     background-size: contain;
 }

 body {
      background-image: url("https://c2.staticflickr.com/6/5100/5593071771_c8af990f83_b.jpg");
      background-size: contain;
  }

.md-toolbar-tools {
   background-color: #BCA297;
}
#form{
  position: relative;
  padding-top: 20px;
}
#messages{
   max-height: 400px;
}

md-radio-button{
  display:inline;
}

/*
 .inputdemoIcons .inputIconDemo {
   min-height: 48px; }
 .inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.email {
   color: green; }
 .inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.name {
   color: black; }
 .inputdemoIcons md-input-container.md-input-invalid > md-icon.email, .inputdemoIcons md-input-container.md-input-invalid > md-icon.name {
   color: red; }*/
